<h2 class="heading-medium">Find out more</h2>
<ul class="font-xsmall list">
  <li>
    <a href="open-jobs">
      Open jobs
    </a>
  </li>
  <li>
    <a href="about">
      About us
    </a>
  </li>
  <li>
    <a href="graduates-apprentices">
      Graduate and apprentices
    </a>
  </li>
  <li>
    <a href="digital">
      Digital
    </a>
  </li>
  <li>
    <a href="technology">
      Technology
    </a>
  </li>
  <li>
    <a href="senior-civil-service">
      Senior Civil Service
    </a>
  </li>
  <li>
    <a href="commercial">
      Commercial
    </a>
  </li>
  <li>
    <a href="our-offer">
      Our employment offer
    </a>
  </li>
  <li>
    <a href="recruitment-process">
      Recruitment process
    </a>
  </li>
</ul>

<h2 class="heading-medium">Useful links and reading</h2>
<ul class="font-xsmall list">
  <li>
    <a href="https://digitaldwp.blog.gov.uk">
      Read our blog
    </a>
  </li>
  <li>
    <a href="https://twitter.com/DigitalDWP">
      Follow @DigitalDWP
    </a>
  </li>
  <li>
    <a href="https://twitter.com/DWPTechnology">
      Follow @DWPTechnology
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/company/dwp/careers?trk=job_view_topcard_company_name">Linkedin</a>
  </li>
</ul>
