// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: nta, $Helvetica-Regular !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 2px solid $black;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Things that *should* be in base.scss
body {
  border-top: 2px solid $black;
}
img {
  max-width: 100%;
  height: auto;
}

// DWP organisation styles
a {
  color: $department-for-work-pensions-websafe;

  &:link,
  &:active,
  &:visited {
    color: $department-for-work-pensions-websafe;
  }

  &:hover,
  &:focus {
    color: lighten($department-for-work-pensions-websafe, 15%);
  }
}
.department-logo {
  margin: 15px 0;
  @include media(tablet) {
    margin: 30px 0;
  }
}
.department-logo a {
  color: inherit;
  text-decoration: none;
}
.department-logo a:hover {
  text-decoration: underline;;
}
.department-logo .royal-crest {
  padding: 22px 0 0 5px;
  background-image: url(/public/images/crests/org_crest_13px.png);
  background-repeat: no-repeat;
  background-position: 5px top;
  background-size: auto 20px;
  display: block;
  border-left: 2px solid $department-for-work-pensions;
  font-size: 13px;
  line-height: 15px;
  @media (-webkit-min-device-pixel-ratio: 2) {
    background-image: url(/public/images/crests/org_crest_13px_x2.png);
  }
  @include media(tablet) {
    padding: 28px 0 0 8px;
    background-image: url(/public/images/crests/org_crest_18px.png);
    background-repeat: no-repeat;
    background-position: 8px top;
    background-size: auto 26px;
    display: block;
    border-left: 2px solid $department-for-work-pensions;
    font-size: 18px;
    line-height: 21px;
    @media (-webkit-min-device-pixel-ratio: 2) {
      background-image: url(/public/images/crests/org_crest_18px_x2.png);
    }
  }
  @include media(desktop) {
    padding: 42px 0 0 10px;
    background-image: url(/public/images/crests/org_crest_27px.png);
    background-repeat: no-repeat;
    background-position: 10px top;
    background-size: auto 40px;
    display: block;
    border-left: 2px solid $department-for-work-pensions;
    font-size: 27px;
    line-height: 30px;
    @media (-webkit-min-device-pixel-ratio: 2) {
      background-image: url(/public/images/crests/org_crest_27px_x2.png);
    }
  }

}
.heading-xxlarge {
  @media (min-width:330px) {
    @include bold-36();
    margin-top: em(30, 48);
    margin-bottom: em(30, 48);
  }
  @media (min-width:480px) {
    @include bold-48();
    margin-top: em(30, 48);
    margin-bottom: em(30, 48);
  }
  @media (min-width:800px) {
    @include bold-80();
    margin-top: em(15, 32);
    margin-bottom: em(15, 32);
  }


}
.heading-secondary {
  @include heading-27();
  display: block;
  color: $department-for-work-pensions-websafe;
  font-weight: 700;
}

.heading-medium {
  border-bottom: 1px solid $grey-2;
  padding-bottom: 10px;
}
.button {
  background-color: $department-for-work-pensions-websafe;

  &:visited {
    background-color: $department-for-work-pensions-websafe;
  }

  &:hover,
  &:focus {
    background-color: darken($department-for-work-pensions-websafe, 5%);
  }

}
.govuk-related-items {
  border-top: none;
}

// Digital DWP job styles
#global-header #logo {
  font-size:16px;
  line-height:1;
  padding-left:5px;
  @media (min-width:330px) {
    font-size:16px;
    line-height:30px
  }
  @media (min-width:480px) {
    font-size:19px;
    line-height:30px
  }
  @media (min-width:800px) {
    font-size:30px;
  }
}
#global-header-bar {
  background-color:$department-for-work-pensions;
}
#global-header .header-wrapper .header-global .header-logo {
  width: 100%;
}
.job-title {
  padding-bottom: 5px;
  color: $department-for-work-pensions-websafe;
}
.img-hero,
.img-profile {
  border: 5px solid $grey-4;
}
.img-hero {
  margin: -5px;
}
.img-profile {
  border-radius: 50%;
  float: right;
  height: 128px;
  width: 128px;
}
.quoted {
  margin: 30px 45px 30px 15px;
  padding-left: 10px;
  border-left: 2px solid $department-for-work-pensions;
  color: $grey-1;
  font-weight: 400;
}
.job a {
  margin-bottom: 20px;
  padding: 15px 15px 15px 15px;
  border-top: 1px solid $grey-2;
  border-right: 1px solid $grey-2;
  border-bottom: 1px solid $grey-2;
  border-left: 2px solid $department-for-work-pensions;
  background-color: $grey-4;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  color: inherit;
  transition: all 160ms ease-in-out;
}

.job a:hover {
  background-color: darken($grey-4, 5%);
  border-left: 5px solid $department-for-work-pensions;
  transition: all 160ms ease-in-out;
}
.job:last-child {
  margin-bottom: 0;
}
#map {
  width:100%;
  height:160px;
  border:1px solid $grey-2;
  position: relative;
}
.map-container {
  position: relative;
}
.map-location {
  display: inline;
  background: white;
  padding: 10px;
  position: absolute;
  z-index: 8;
  top: 5px;
  left: 10px;
  border: 1px solid $grey-2;
}

// Typed cursor
.typed-cursor {
    opacity: 0;
    // color: $black;
    // -webkit-animation: blink 0.7s infinite;
    // -moz-animation: blink 0.7s infinite;
    // animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
