{% extends "layout_unbranded.html" %}

{% block page_title %}
  About us - Digital DWP Careers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <header>

    {% include "includes/phase_banner_beta.html" %}

    <div class="department-logo">
      <a href="/">
        <span class="royal-crest">
          Department<br>for Work &amp; <br>Pensions
        </span>
      </a>
    </div>

    <h1 class="heading-xxlarge">
      About us
      <span class="heading-secondary">
        We're the UK's biggest public service department
      </span>
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">
        We have a very important purpose: helping people lift themselves out of poverty and stay out of poverty.
      </p>

      <p>
        We design and deliver public services that millions of people rely on. We transform lives by helping the most disadvantaged people to turn their lives around. Last year we helped 105,000 families through the Troubled Families programme.
      </p>

      <p>
        We touch almost every citizen in the UK at some point in their lives. This means helping to provide the foundations of every child’s life. Encouraging work – and making it pay. Enabling independence for those with disabilities or ill health. And promoting firm foundations for retirement by helping those in the later stages of life to maintain their standard of living.
      </p>

      <p class="lede quoted">In 2015 we helped 2.6 million people off Jobseeker's Allowance</p>

      <p class="lede quoted">We paid 22 million people £167.6 billion in benefits and pensions</p>

      <p class="lede quoted">We saw a record 31.1 million people in employment, and helped more than 32,400 disabled people find and stay in work</p>

      {% include "includes/call_to_action.html" %}

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">

        {% include "includes/side_navigation.html" %}

      </aside>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GUC6lqrMQPg?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen="" data-journey-click="youtube:external-link:youtube"></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GtreNGmeexo?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen="" data-journey-click="youtube:external-link:youtube"></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FF9NlBfzIGM?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen="" data-journey-click="youtube:external-link:youtube"></iframe>
    </div>
  </div>

</main>

{% endblock %}
