{% extends "layout_unbranded.html" %}

{% block page_title %}
  Commercial - Digital DWP Careers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <header>

    {% include "includes/phase_banner_beta.html" %}

    <div class="department-logo">
      <a href="/">
        <span class="royal-crest">
          Department<br>for Work &amp; <br>Pensions
        </span>
      </a>
    </div>

    <h1 class="heading-xxlarge">
      Commercial
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">
        The Department for Work and Pensions (DWP) impacts upon the lives of virtually every resident in the UK, every day,  helping people to find employment, deliver their welfare support (e.g. Universal Credit) and administer state run pensions, presenting us with the unique opportunity to make strategic changes in how we deliver services across the country. We employ over 84,000 staff across the UK, and our total spend across these services in 2014/15 was £175bn.  As part of this organisation, the Commercial Directorate (CD) plays a critical role in shaping how services are delivered across a variety of contractual arrangements (annual procurement spend of circa £3bn on 3rd party suppliers).
      </p>

      <ul class="list list-bullet">
        <li>
          Corporate Services
        </li>
        <li>
          Employment
        </li>
        <li>
          Health
        </li>
        <li>
          Technology
        </li>
        <li>
          Universal Credit
        </li>
        <li>
          Commercial office locations
        </li>
      </ul>

      <p>
        Supporting DWP’s on-going Commercial Improvement Programme, Commercial Directorate has recently launched a category management and operating model which will develop deep expertise in, and deliver savings and efficiencies to each of DWP’s key functions, or “categories”, namely:
      </p>

      <p>
        A number of long established contracts supporting DWP are expiring in the near future, presenting the unique opportunity to make strategic changes to how we deliver services across the country. We aim to increase efficiency and reduce costs by creating a new approach to procurement, challenging/re-negotiating agreements with existing suppliers, and creating new supplier relationships.
      </p>

      <p>
        It’s an exciting time to join the Commercial Directorate, with challenges ahead but great gains to be achieved. Our staff are key to implementing this change, and positively influencing the future shape of DWP. Meet some of our people
      </p>

      {% include "includes/call_to_action.html" %}

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">

        {% include "includes/side_navigation.html" %}

      </aside>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GUC6lqrMQPg?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GtreNGmeexo?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FF9NlBfzIGM?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>

</main>

{% endblock %}
