{% extends "layout_unbranded.html" %}

{% block page_title %}
  Digital - Digital DWP Careers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <header>

    <div class="department-logo">
      <a href="/">
        <span class="royal-crest">
          Department<br>for Work &amp; <br>Pensions
        </span>
      </a>
    </div>

    <h1 class="heading-xxlarge">
      Digital
      <span class="heading-secondary">
        Putting users at the heart of everything we do
      </span>
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">
        DWP delivers public services that millions of people rely on. We transform lives by helping the most disadvantaged people to turn their lives around.
      </p>

      <p>
        People increasingly expect to access services digitally at a time that suits them. To meet this challenge, we are transforming the way we operate to design automated, efficient services in an agile way, that puts the customers’ needs first.
      </p>

      <p>
        At the heart of this reform agenda is the transformation of the services that DWP provides, which will improve how government interacts with people. The services will be easier and swifter to access; the time taken to develop new services will be decreased and the cost of delivery reduced significantly.
      </p>

      <p>
        To do this, our user researchers and digital delivery teams are designing simple, interactive and re-usable services that meet our diverse user’s needs – we need creative and skilled talent to deliver this.
      </p>

      <p class="lede quoted">
        Working together to transform the way we deliver public services
      </p>

      {% include "includes/call_to_action.html" %}

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">

        {% include "includes/side_navigation.html" %}

      </aside>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GUC6lqrMQPg?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GtreNGmeexo?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FF9NlBfzIGM?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>

</main>

{% endblock %}
