{% extends "layout_unbranded.html" %}

{% block page_title %}
  Graduates and apprentices - Digital DWP Careers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <header>

    {% include "includes/phase_banner_beta.html" %}

    <div class="department-logo">
      <a href="/">
        <span class="royal-crest">
          Department<br>for Work &amp; <br>Pensions
        </span>
      </a>
    </div>

    <h1 class="heading-xxlarge">
      Graduates and apprentices
      <span class="heading-secondary">
        Start your career in government
      </span>
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">
        We are looking for bright and diverse individuals to join our rapidly transforming organisation. All you need is a passion for digital technology and making a difference to people’s lives.
      </p>

      <p>
        Being part of a Department for Work and Pensions development scheme is a great way to work on some of Europe’s largest projects, transform the way people interact with public services and deliver them using the latest technologies. Plus, we will fund your academic learning at the same time.
      </p>

      <p>
        We offer apprenticeships and graduate opportunities. Come and join the digital transformation.
      </p>

      {% include "includes/call_to_action.html" %}

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">

        {% include "includes/side_navigation.html" %}

      </aside>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GUC6lqrMQPg?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GtreNGmeexo?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FF9NlBfzIGM?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>

</main>

{% endblock %}
