{% extends "layout_unbranded.html" %}

{% block page_title %}
  Graduates and apprentices - Digital DWP Careers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <header>

    <div class="department-logo">
      <span class="royal-crest">
        Department<br>for Work &amp; <br>Pensions
      </span>
    </div>

    <h1 class="heading-xxlarge">
      Graduates and apprentices
      <span class="heading-secondary">
        Start your career in government
      </span>
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">
        We are looking for bright and diverse individuals to join our rapidly transforming organisation. All you need is a passion for Digital Technology and making a difference to people’s lives.
      </p>

      <p>
        Being part of a DWP development scheme is a great way to work on some of Europe’s largest projects, transform the way the public interacts with public services and deliver them using the latest technologies. Plus, we will fund your academic learning at the same time.
      </p>

      <ul class="list list-bullet">
        <li>
          Apprenticeships
        </li>
        <li>
          Graduate opportunities
        </li>
      </ul>

      <p>
        Come and join the Digital Transformation!
      </p>

      <h2 class="heading-large">Find out when we're hiring</h2>

      <p>
        We're always looking for great people to join us. Our jobs change regularly, so keep checking back.
      <p>

      <p>
        <a class="button" href="https://twitter.com/digitalDWPjobs">
          Get job updates
        </a>
      </p>

      <h2 class="heading-large">Current vacancies</h2>

      {% for job in jobs %}
      <div class="job">
        <a href="/{{loop.index0}}">
          <h2 class="bold-medium">
            {{job.title}}
          </h2>
            <ul>
              <li class="font-xsmall">
                Location: <span class="bold-small">{{job.jobLocation.address.addressLocality}}</span>
              </li>
              <li class="font-xsmall">
                Salary up to: <span class="bold-small">&pound;{{job.maxSalary}}</span>
              </li>
              <li class="font-xsmall">
                Closing date: <span class="bold-small">{{ job.dateClosing }}</span>
              </li>
            </ul>
        </a>
      </div>
      {% endfor %}

      <p>
        <a href="http://digital.dwp.gov.uk/careers/search-vacancies/" class="bold-xsmall">
          View all <span class="visuallyhidden">jobs on DWP Careers</span>
        </a>
      </p>

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">

        <h2 class="heading-medium">Find out more</h2>
  			<ul class="font-xsmall list">
  				<li>
  					<a href="https://digitaldwp.blog.gov.uk">
  						Read our blog
  					</a>
  				</li>
  				<li>
  					<a href="https://twitter.com/DigitalDWP">
  						Follow @DigitalDWP
  					</a>
  				</li>
          <li>
  					<a href="https://twitter.com/DWPTechnology">
  						Follow @DWPTechnology
  					</a>
  				</li>
  			</ul>

      </aside>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GUC6lqrMQPg?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GtreNGmeexo?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FF9NlBfzIGM?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>

</main>

{% endblock %}
