{% extends "layout_unbranded.html" %}

{% block page_title %}
  Digital DWP Careers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <header>

    <div class="department-logo">
      <span class="royal-crest">
        Department<br>for Work &amp; <br>Pensions
      </span>
    </div>

    <h1 class="heading-xxlarge">
      <span class="heading-secondary">
        Digital careers
      </span>
      Working with us as<br>
      <div id="typed-strings">
        <p>a Delivery manager.</p>
        <p>an Interaction designer.</p>
        <p>a User researcher.</p>
        <p>a Product Owner.</p>
        <p>a Front-end developer.</p>
        <p>a Content designer.</p>
        <p>part of a team.</p>
      </div>
      <span class="job-title"></span>
    </h1>
  </header>


  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="font-large">
        Get the latest information on digital and technology jobs at the UK Department for Work and Pensions.
      </p>

    </div>
  </div>

  <img class="img-hero" src="public/images/newcastle-hub.jpg" />

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">
        Transforming DWP
      </h2>

      <p>
        DWP delivers public services that millions of people rely on. We transform lives by helping the most disadvantaged people to turn their lives around.
      </p>

      <p>
        People increasingly expect to access services digitally at a time that suits them. To meet this challenge, we are transforming the way we operate to design automated, efficient services in an agile way, that puts the customers’ needs first.
      </p>

      <p class="lede quoted">
        Services that transform the lives of people in the UK.
      </p>

      <p>
        At the same time, we are engaged in delivering an ambitious, once in a generation, programme of welfare reform.
      </p>

      <p>
        Key elements of the reform agenda include the development and implementation of Universal Credit, which is designed to make work pay and radically simplify the benefits system. Significant changes to the private and state pensions systems via the new State Pension (nSP) will improve pensioner incomes and increase savings for retirement and the Personal Independence Payment will enhance opportunities for disabled people.
      </p>

      <p class="lede quoted">
        Building agile services, putting user needs first.
      </p>

      <p>
        At the heart of this reform agenda is the transformation of the services that DWP provides, which will radically improve how government interacts with people. The services will be easier and swifter to access; the time taken to develop new services will be decreased and the cost of delivery reduced significantly.
      </p>

      <p>
        People working in business transformation roles in DWP are at the forefront of creating services that will transform the lives of people in the UK – we need the creative and skilled talent to deliver this.
      </p>

      <h3 class="heading-medium">Our technology challenge</h3>

      <p>
        The scale of the digital technology challenge in DWP is one of the largest in the UK today. Our IT systems underpin the annual processing of 7.35m benefit claims, payment of £165bn in benefits and pensions, and support over 90,000 users across 950 locations.
      </p>

      <p class="lede quoted">
        This is a major shift from a traditional outsourcing model.
      </p>

        Digital technology in DWP is transforming to become a leading example of a nimble, digital enterprise, with deep experts who are motivated by the challenge of working on large-scale applications running on massive platforms.

        We will design based on user needs, for a future where new and current systems will co-exist. Delivery teams will be accountable for test-driven development, business analysis, testing, dev/ops, data modelling, repositories, analytics and visualisation, working closely with a cyber-security team.

        <p class="lede quoted">
          Javascript, REDIS, MongoDB, Mongoose, Devops, BigData and Visualisation.
        </p>


        To deliver this large-scale transformation we need to complement our existing expertise with digital technology skills with a focus on Javascript development/Java as an exception, REDIS, MongoDB, Mongoose & Cassandra DB, Devops (Chef, Statsd, Docker & Flyway) and BigData & Visualisation (Hadoop, R, Graph, D3 & Tableau).

        We will reuse and repurpose technologies to accelerate delivery, building reusable platform utilities and enablers as well as reusing a library of services, objects, assets, rules and roles including roll-forward of architectures.

        <p class="lede quoted">
          Building reusable code components and service libraries.
        </p>

        Our digital technologists will build reusable Code Components and Service Libraries using UX (Angular JS, D3, Bootstrap: HTML5 and CSS4), ExpressJS, Mashery API Registry, RabbitMQ, JSON, MVC, Micro-service design patterns and RESTful interfaces.

        This represents a major shift from a traditional outsourcing model, making this one of the most exciting times to join a major government department that delivers services that support the lives of 22m citizens.      </p>

        <h3 class="heading-medium">About the department</h3>

        We have a very important purpose – helping people lift themselves out of poverty and stay out of poverty.

        <p class="lede quoted">
          Our services support the lives of 22m citizens.
        </p>

        Every day, we help almost 10,000 people move off Jobseeker’s Allowance – helping 3.6m people to do this a year. Every year, we will take 4m job vacancies for 330,000 employers and process 7.35m benefit claims.

        In 12 months we will collect or arrange over £1.2bn of child maintenance on behalf of 900,000 children. And pay 22m customers £165bn in benefits and pensions.

        <p class="lede quoted">
          Helping people lift themselves out of poverty.
        </p>

        We design and deliver public services that millions of people rely on. We transform lives by helping the most disadvantaged people to turn their lives around.

        We touch almost every citizen in the UK at some point in their lives. From recognising the importance of family in provided the foundations of every child’s life, by encouraging work – and making it pay, by enabling work and independence for those with disabilities or ill-health and by promoting firm foundations for retirement – helping those in the later stages of life to maintain their standard of living.

			<h2 class="heading-large">Meet our people</h2>

      <h3 class="heading-medium">Henry Perkins, Delivery Manager</h3>

      <img class="img-profile" src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" />

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <h3 class="heading-medium">Lawrence Munoz, Interaction designer</h3>

      <img class="img-profile" src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg" />

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <h3 class="heading-medium">Deborah Mendez, User researcher</h3>

      <img class="img-profile" src="https://s3.amazonaws.com/uifaces/faces/twitter/esthercrawford/128.jpg" />

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <h3 class="heading-medium">Denise Hicks, Product owner</h3>

      <img class="img-profile" src="https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/128.jpg" />

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <h3 class="heading-medium">Mathhew Matthews, Front-end developer</h3>

      <img class="img-profile" src="https://s3.amazonaws.com/uifaces/faces/twitter/csswizardry/128.jpg" />

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <h3 class="heading-medium">Angela Hunt, Content designer</h3>

      <img class="img-profile" src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg" />

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <h2 class="heading-large">Find out when we're hiring</h2>

      <p>
        We are always looking for great people to join us. Our jobs change regularly, so keep checking back.
      <p>

      <p>
        <a class="button" href="https://twitter.com/digitalDWPjobs">
          Follow @digitalDWPjobs
        </a>
      </p>

      <p>
        Alternatively, <a href="mailto:SPECIALISTRECRUITMENT.TEAM@DWP.GSI.GOV.UK">send us your CV</a> and we will be in touch should anything become available.
      </p>

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">We are hiring</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall list">
            <li><a href="http://digital.dwp.gov.uk/careers/dwp_vacancy/content-designer-2/">Content designer</a></li>
            <li><a href="http://digital.dwp.gov.uk/careers/dwp_vacancy/delivery-managersenior-delivery-manager/">Delivery manager</a></li>
            <li><a href="http://digital.dwp.gov.uk/careers/search-vacancies/" class="bold-xsmall">More <span class="visuallyhidden">jobs on DWP Careers</span></a></li>
          </ul>
        </nav>

        <h2 class="heading-medium">Find out more</h2>
  			<ul class="font-xsmall list">
  				<li>
  					<a href="https://digitaldwp.blog.gov.uk">
  						Read our blog
  					</a>
  				</li>
  				<li>
  					<a href="http://dwp-digital-services.herokuapp.com">
  						See what we're working on
  					</a>
  				</li>
  				<li>
  					<a href="https://twitter.com/DigitalDWP">
  						Follow @Digital_DWP
  					</a>
  				</li>
          <li>
  					<a href="https://twitter.com/DWPTechnology">
  						Follow @DWPTechnology
  					</a>
  				</li>
  			</ul>

      </aside>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <iframe width="100%" height="auto" src="http://www.youtube.com/embed/qpGyGZ8Cm4g?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FF9NlBfzIGM?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/BpNtYBH7wDo?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>

</main>

{% endblock %}
