{% extends "layout_unbranded.html" %}

{% block page_title %}
  Digital DWP Careers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <header>

    <div class="department-logo">
      <span class="royal-crest">
        Department<br>for Work &amp; <br>Pensions
      </span>
    </div>

    <h1 class="heading-xxlarge">
      Work with us as<br>
      <div id="typed-strings">
        <p>a delivery manager</p>
        <p>an interaction designer</p>
        <p>a user researcher</p>
        <p>a product owner</p>
        <p>a front-end developer</p>
        <p>a content designer</p>
        <p>part of a team</p>
      </div>
      <span class="job-title"></span>
    </h1>
  </header>


  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="font-large">
       Digital and technology jobs at the UK Department for Work and Pensions.
      </p>
    </div>
  </div>

  <img class="img-hero" src="public/images/newcastle-hub.jpg" />

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">
        Help transform DWP
      </h2>

      <p>DWP needs experts in digital design, technology and code to help transform the public services millions of people rely on.</p>

      <!--<img class="img-hero" src="public/images/newcastle-hub2.jpg" />-->

      <p>We’re changing the way we work to become a leading example of agile delivery. We’re building a team of digital specialists to make simpler, clearer, faster services, that put the people who use them first.</p>

      <!--<img class="img-hero" src="public/images/newcastle-hub3.jpg" />-->

      <p>It’s a huge challenge. Our services touch the lives of almost everyone in the UK at some point. Our IT systems manage 7.35m benefit claims each year, paying £165 billion in benefits and pensions.</p>

      <p class="lede quoted">Changing the UK welfare system.</p>

      <p>We're simplifying the benefits systems through Universal Credit. We’re increasing opportunities for disabled people through Personal Independence Payments. And we’re making sure people can enjoy retirement by supporting pension savings and changing how the State Pension Works.</p>

      <!--<img class="img-hero" src="public/images/newcastle-hub4.jpg" />-->

      <p>We’re now looking for digital experts who are motivated by the challenge of working on these large-scale user-centred services running on massive platforms.</p>

      <p>It’s an exciting time to join us.</p>



			<h2 class="heading-large">Meet our people</h2>

      <h3 class="heading-medium">Arun Zachariah, delivery manager</h3>

      <img class="img-profile" src="/public/images/profile-zach.png" />
      <p>
        In the commercial world you deliver an application and then you leave. Here your actions have a direct impact on a range of people’s lives.</p>

      <p>My job is to make sure that the team functions effectively, I help guide them to doing the right things, at the right time, in the right way.
      </p>
      <p>
       Seeing the services that DWP is building making a real difference to people makes me feel my job is worthwhile.
      </p>

      <h3 class="heading-medium">Simon Hurst, user researcher</h3>

      <img class="img-profile" src="/public/images/profile-simon.png" />

      <p>
         User research is the foundation of DWP's services. We're genuinely listening to users, using a real blend of tools and techniques to get a picture of our users’ needs, and then building services based on the back of that.
      </p>

      <p>
        Being able to see the changes you’ve made from a previous research session is great because you know we're making it better for people.</p>
        <p> Seeing the faces change from their previous experience of dealing with us compared to what we’ve made based on their feedback is massively rewarding.

      </p>

      <h3 class="heading-medium">Melanie Cannon, content designer</h3>

      <img class="img-profile" src="/public/images/profile-mel.png" />

      <p>
        Content is what services are made of, it determines what people think of us. My job is to remove the complexity and frustrations from our services.</p>
      <p>It's about getting close to our users and empathising with the problems they have interacting with government. And making sure people using our services only have to do the things that are absolutely necessary to get what they need simply and quickly.
      </p>
        <p>It's incredibly satisfying to see how we're making the lives of vulnerable people that bit easier.
      </p>
      <!--
      <h3 class="heading-medium">Denise Hicks, Product owner</h3>

      <img class="img-profile" src="https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/128.jpg" />

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <h3 class="heading-medium">Mathhew Matthews, Front-end developer</h3>

      <img class="img-profile" src="https://s3.amazonaws.com/uifaces/faces/twitter/csswizardry/128.jpg" />

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <h3 class="heading-medium">Angela Hunt, Content designer</h3>

      <img class="img-profile" src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg" />

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit a quos necessitatibus repellendus consequatur voluptatem iusto, atque ullam qui esse eos numquam quidem illo ex sapiente est pariatur voluptatibus quia.
      </p>
    -->
      <h2 class="heading-large">Find out when we're hiring</h2>

      <p>
        We're always looking for great people to join us. Our jobs change regularly, so keep checking back.
      <p>

      <p>
        <a class="button" href="https://twitter.com/digitalDWPjobs">
          Get job updates
        </a>
      </p>

      <!--<p>
        Alternatively, <a href="mailto:SPECIALISTRECRUITMENT.TEAM@DWP.GSI.GOV.UK">send us your CV</a> and we'll be in touch should anything become available.
      </p>-->

      <h2 class="heading-large">Current vacancies</h2>

      {% for job in jobs %}
      <div class="job">
        <a href="/job/{{loop.index0}}">
          <h2 class="bold-medium">
            {{job.title}}
          </h2>
            <ul>
              <li class="font-xsmall">
                Location: <span class="bold-small">{{job.jobLocation.address.addressLocality}}</span>
              </li>
              <li class="font-xsmall">
                Salary up to: <span class="bold-small">&pound;{{job.maxSalary}}</span>
              </li>
              <li class="font-xsmall">
                Closing date: <span class="bold-small">{{ job.dateClosing }}</span>
              </li>
            </ul>
        </a>
      </div>
      {% endfor %}

      <p>
        <a href="http://digital.dwp.gov.uk/careers/search-vacancies/" class="bold-xsmall">
          View all <span class="visuallyhidden">jobs on DWP Careers</span>
        </a>
      </p>

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <!--
        <h2 class="heading-medium" id="subsection-title">We're hiring</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall list">
            <li><a href="http://digital.dwp.gov.uk/careers/dwp_vacancy/content-designer-2/">Content designer</a></li>
            <li><a href="http://digital.dwp.gov.uk/careers/dwp_vacancy/delivery-managersenior-delivery-manager/">Delivery manager</a></li>
            <li><a href="http://digital.dwp.gov.uk/careers/search-vacancies/" class="bold-xsmall">More <span class="visuallyhidden">jobs on DWP Careers</span></a></li>
          </ul>
        </nav>
      -->

        <h2 class="heading-medium">Find out more</h2>
  			<ul class="font-xsmall list">
  				<li>
  					<a href="https://digitaldwp.blog.gov.uk">
  						Read our blog
  					</a>
  				</li>
  				<!--<li>
  					<a href="http://dwp-digital-services.herokuapp.com">
  						What we're working on
  					</a>
  				</li>-->
  				<li>
  					<a href="https://twitter.com/DigitalDWP">
  						Follow @DigitalDWP
  					</a>
  				</li>
          <li>
  					<a href="https://twitter.com/DWPTechnology">
  						Follow @DWPTechnology
  					</a>
  				</li>
  			</ul>

      </aside>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/qpGyGZ8Cm4g?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FF9NlBfzIGM?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/BpNtYBH7wDo?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>

</main>

{% endblock %}
