{% extends "layout_unbranded.html" %}

{% block page_title %}
  Digital DWP Careers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <header>

    {% include "includes/phase_banner_beta.html" %}

    <div class="department-logo">
      <a href="/">
        <span class="royal-crest">
          Department<br>for Work &amp; <br>Pensions
        </span>
      </a>
    </div>

    <h1 class="heading-xxlarge">
      Work with us as<br>
      <div id="typed-strings" class="js-hidden">
        <p>a delivery manager</p>
        <p>an interaction designer</p>
        <p>a user researcher</p>
        <p>a product owner</p>
        <p>a front-end developer</p>
        <p>a content designer</p>
        <p>part of a team</p>
      </div>
      <span class="job-title"></span>
    </h1>
  </header>

  <div class="gallery-wrapper"></div>

  <p class="font-large">
     Digital, data and technology jobs at Department for Work and Pensions (DWP). <a href="open-jobs" data-journey="home-page:internal-link:current-vacancies">See current vacancies.</a>
  </p>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">
        Help transform DWP
      </h2>

      <p>DWP needs experts in digital design, technology and code to help
        transform the public services that millions of people rely on.</p>

      <p>We’re changing the way we work to become a leading example of agile
        delivery. We’re building a team of digital specialists to make simpler,
        clearer, faster services that put the people who use them first.</p>

      <p>It’s a huge challenge. Our services touch the lives of almost everyone
        in the UK at some point. Our IT systems manage 7.35 million benefit claims each
        year, paying £165 billion in benefits and pensions.</p>

      <p class="lede quoted">Changing the UK welfare system</p>

      <p>We're simplifying the benefits systems through Universal Credit. We’re
        increasing opportunities for disabled people through Personal
        Independence Payments. And we’re making sure people can enjoy retirement
        by supporting pension savings and changing how the State Pension works.</p>

      <p>We’re now looking for digital experts who are motivated by the
        challenge of working on these large-scale user-centred services.</p>

      <p>It’s an exciting time to join us.</p>



			<h2 class="heading-large">Meet our people</h2>

      <!--<h3 class="heading-medium">Arun Zachariah, delivery manager</h3>

      <img class="img-profile" src="/public/images/profile-zach.png" />
      <p>
        In the commercial world you deliver an application and then you leave. Here your actions have a direct impact on a range of people’s lives.</p>

      <p>My job is to make sure that the team functions effectively, I help guide them to doing the right things, at the right time, in the right way.
      </p>
      <p>
       Seeing the services that DWP is building making a real difference to people makes me feel my job is worthwhile.
      </p>
      -->
      <h3 class="heading-medium">Sophie Lambert, user researcher</h3>

      <img class="img-profile" src="/public/images/profile-sophie.png" />

      <p>
        Good user research is the foundation of good service design. As a user
        researcher I’m listening to our users to understand their lives, their
        desires, motivations, and needs.
      </p>

      <p>
        At DWP our user groups are diverse and have complex, often difficult
        lives. We use a range of research techniques to find out what our users
        are trying to do when they use our service, to understand why it’s not
        working for them now, and to think about how we can make their
        experience better.
      </p>

      <p>
        Seeing users try out a service that you’ve helped to shape is really
        exciting, and when you can see that you’ve made a positive impact on
        their life it’s incredibly rewarding.
      </p>

      <h3 class="heading-medium">Melanie Cannon, content designer</h3>

      <img class="img-profile" src="/public/images/profile-mel.png" />

      <p>
        My job is to remove the complexity and frustrations from our services by
        making sure the content is clear.
      </p>

      <p>
        It's about getting close to our users and empathising with the problems
        they have interacting with government. And making sure people using our
        services only have to do the things that are absolutely necessary to get
        what they need.
      </p>

      <p>
        It's really satisfying to be part of a team that's making the lives of
        vulnerable people a little bit easier.
      </p>

      {% include "includes/call_to_action.html" %}

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">

        {% include "includes/side_navigation.html" %}

      </aside>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/qpGyGZ8Cm4g?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen="" data-journey="youtube:external-link:youtube"></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FF9NlBfzIGM?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen="" data-journey="youtube:external-link:youtube"></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/BpNtYBH7wDo?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen="" data-journey="youtube:external-link:youtube"></iframe>
    </div>
  </div>

</main>

{% endblock %}
