{% extends "layout_unbranded.html" %}

{% block page_title %}
  Open jobs - Digital DWP Careers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <header>

    {% include "includes/phase_banner_beta.html" %}

    <div class="department-logo">
      <a href="/">
        <span class="royal-crest">
          Department<br>for Work &amp; <br>Pensions
        </span>
      </a>
    </div>

    <h1 class="heading-xxlarge">
      Open jobs
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      {% for job in data | sort(false, true, 'dateClosingString') %}

      {% set nd = job.dateClosingString %}

      {% if nd < now %}
      {% else %}

      <div class="job">
        <a href="/job/{{job.reference}}/{{job.slug}}" data-journey="open-job:internal-link:job">
          <h2 class="bold-medium">
            {{job.title}}
          </h2>
            <ul>
              <li class="font-xsmall">
                Location: <span class="bold-small">{{job.jobLocation.address.addressLocality}}</span>
              </li>
              <li class="font-xsmall">
                Salary: <span class="bold-small">{{job.maxSalary}}</span>
              </li>
              <li class="font-xsmall">
                Closing date: <span class="bold-small">{{ job.dateClosing }}</span>
              </li>
            </ul>
        </a>
      </div>

      {% endif %}

      {% endfor %}

      <h2 class="heading-large">Can't find the job you're looking for?</h2>

      <p>
        We're always looking for great people to join us. Our jobs change regularly, so keep checking if there are currently any appropriate vacancies for your skillset.

      <p>
        <a class="button" href="https://www.civilservicejobs.service.gov.uk/csr/index.cgi">
          Get job updates
        </a>
      </p>
      <p>Visit our <a href="https://twitter.com/digitalDWPjobs">Twitter</a> and <a href="https://www.linkedin.com/company/dwp/careers?trk=job_view_topcard_company_name">LinkedIn</a> pages to see some of the work we do.
      </p>

      <p>
        Or <a href="mailto:SPECIALISTRECRUITMENT.TEAM@DWP.GSI.GOV.UK?subject=Work%20with%20us&body=Type%20of%20job%20you%20are%20looking%20for...%0D%0AWhere%20you%20live...%0D%0AContact%20number...%0D%0ACV%20attached">send us your CV</a> and we will get in touch if anything becomes available.
      </p>

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">

        {% include "includes/side_navigation.html" %}

      </aside>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GUC6lqrMQPg?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen="" data-journey="youtube:external-link:youtube"></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GtreNGmeexo?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen="" data-journey="youtube:external-link:youtube"></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FF9NlBfzIGM?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen="" data-journey="youtube:external-link:youtube"></iframe>
    </div>
  </div>

</main>

{% endblock %}
