{% extends "layout_unbranded.html" %}

{% block page_title %}
  Our offer - Digital DWP Careers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <header>

    <div class="department-logo">
      <span class="royal-crest">
        Department<br>for Work &amp; <br>Pensions
      </span>
    </div>

    <h1 class="heading-xxlarge">
      Our employment offer
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">
        Every day, we work to change people’s lives for the better. We are here to make a real difference to a diverse range of people who are often the most vulnerable in society. We want you to be passionate about serving our user’s  needs as professionally as you can – so we offer rewarding and challenging roles and commit to supporting your development.
      </p>

      <h2 class="heading-large">
        Our culture
      </h2>

      <p class="lede">
        Our core DWP values underpin our commitment to putting customers first, and focus on not only on what we deliver, but how we do it. To do this, we put the user at the heart of everything we do.
      </p>

      <p>
        Our values are the foundation of our culture and we demonstrate this through what our people do – and we are continuously developing in line with our digital by default transformation. This is reflected in the inclusive way we work, the decisions we take and the changes we make.
      </p>

      <p>
        We believe that people really benefit from working in an organisation where they can bring their authentic selves to work and every contribution is valued. We invest in their development and encourage them to focus their activities on the things that really matter.
      </p>

      <p class="lede quoted">
        Competitive civil service pension scheme
      </p>

      <p class="lede quoted">
        Generous flexible working packages and start with 23 days annual leave
      </p>

      <p class="lede quoted">
        Continuous investment and support to develop in your role
      </p>

      <h2 class="heading-large">Find out when we're hiring</h2>

      <p>
        We're always looking for great people to join us. Our jobs change regularly, so keep checking back.
      <p>

      <p>
        <a class="button" href="https://twitter.com/digitalDWPjobs">
          Get job updates
        </a>
      </p>

      <h2 class="heading-large">Current vacancies</h2>

      {% for job in jobs %}
      <div class="job">
        <a href="/{{loop.index0}}">
          <h2 class="bold-medium">
            {{job.title}}
          </h2>
            <ul>
              <li class="font-xsmall">
                Location: <span class="bold-small">{{job.jobLocation.address.addressLocality}}</span>
              </li>
              <li class="font-xsmall">
                Salary up to: <span class="bold-small">&pound;{{job.maxSalary}}</span>
              </li>
              <li class="font-xsmall">
                Closing date: <span class="bold-small">{{ job.dateClosing }}</span>
              </li>
            </ul>
        </a>
      </div>
      {% endfor %}

      <p>
        <a href="http://digital.dwp.gov.uk/careers/search-vacancies/" class="bold-xsmall">
          View all <span class="visuallyhidden">jobs on DWP Careers</span>
        </a>
      </p>

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">

        <h2 class="heading-medium">Find out more</h2>
  			<ul class="font-xsmall list">
  				<li>
  					<a href="https://digitaldwp.blog.gov.uk">
  						Read our blog
  					</a>
  				</li>
  				<li>
  					<a href="https://twitter.com/DigitalDWP">
  						Follow @DigitalDWP
  					</a>
  				</li>
          <li>
  					<a href="https://twitter.com/DWPTechnology">
  						Follow @DWPTechnology
  					</a>
  				</li>
  			</ul>

      </aside>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GUC6lqrMQPg?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GtreNGmeexo?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FF9NlBfzIGM?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>

</main>

{% endblock %}
