{% extends "layout_unbranded.html" %}

{% block page_title %}
  Working for us - Digital DWP Careers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <header>

    {% include "includes/phase_banner_beta.html" %}

    <div class="department-logo">
      <a href="/">
        <span class="royal-crest">
          Department<br>for Work &amp; <br>Pensions
        </span>
      </a>
    </div>

    <h1 class="heading-xxlarge">
      Working for us
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">
        Every day, we work to change people’s lives for the better. We are here to make a real difference to a diverse range of people who are often the most vulnerable in society.
      </p>

      <p>
        We put the user at the heart of everything we do. We offer rewarding and challenging roles and will commit to supporting your development.
      </p>

      <h3 class="heading-large">
        Our culture
      </h3>

      <p>
        Our values are the foundation of our culture and we demonstrate this through what our people do. We are continuously developing in line with our digital transformation. This is reflected in the inclusive way we work, the decisions we take and the changes we make.
      </p>

      <p>
        We believe that people benefit from working in an organisation where every contribution is valued and they can be themselves. We invest in their development and encourage them to focus their efforts on the things that really matter.
      </p>

      <p class="lede quoted">
        Competitive Civil Service pension scheme
      </p>

      <p class="lede quoted">
        Generous, flexible working packages and a minimum of 23 days' annual leave
      </p>

      <p class="lede quoted">
        Continuous investment and support to develop in your role
      </p>

      {% include "includes/call_to_action.html" %}

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">

        {% include "includes/side_navigation.html" %}

      </aside>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GUC6lqrMQPg?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen="" data-journey-click="youtube:external-link:youtube"></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GtreNGmeexo?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen="" data-journey-click="youtube:external-link:youtube"></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FF9NlBfzIGM?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen="" data-journey-click="youtube:external-link:youtube"></iframe>
    </div>
  </div>

</main>

{% endblock %}
