{% extends "layout_unbranded.html" %}

{% block page_title %}
  Recruitment process - Digital DWP Careers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <header>

    <div class="department-logo">
      <a href="/">
        <span class="royal-crest">
          Department<br>for Work &amp; <br>Pensions
        </span>
      </a>
    </div>

    <h1 class="heading-xxlarge">
      Recruitment process
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">
        How to apply
      </h2>

      <p class="lede">
        Just complete a short application form and send a CV and covering letter.
      </p>

      <p>
        You’ll need to log in to Civil Service Jobs to apply, and to keep track of progress of your application.
      </p>

      <h2 class="heading-large">
        After you apply
      </h2>

      <p class="lede">
        We’ll aim to update you on progress within 2 weeks. In that time, we’ll be sifting the applications. This is when we look at your technical skills to make sure they are the right level for the role you’ve applied for.
      </p>

      <p>
        If you’ve made the short list, we’ll send you an e-mail to invite you for an interview.
      </p>

      <h2 class="heading-large">
        At the interview
      </h2>

      <p class="lede">
        We expect you to demonstrate your technical skills. Depending on the role, we might ask you to present your recent work or undertake online tests.
      </p>

      <p>
        We want to see your non-technical skills too, such as leading and communicating, collaborating and partnering, and delivering at pace.
      </p>

      <p>
        We call these non-technical skills the core competencies for the role.
      </p>

      <h2 class="heading-large">
        After the interview
      </h2>

      <p class="lede">
        We’ll make successful candidates a conditional offer. We might negotiate with you on the details.
      </p>

      <p>
        You’ll need to complete a security check before we can make you a formal offer and agree a start date.
      </p>

      <p>
        If you’re not successful, we’ll let you know. Log onto Civil Service Jobs to see feedback on the interview. The feedback might help you to apply for other roles with us in future.
      </p>

      <h2 class="heading-large">Thinking of joining us?</h2>

      <p>
        <a class="button" href="open-jobs">
          See open jobs
        </a>
      </p>

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">

        {% include "includes/side_navigation.html" %}

      </aside>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GUC6lqrMQPg?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GtreNGmeexo?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FF9NlBfzIGM?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>

</main>

{% endblock %}
