{% extends "layout_unbranded.html" %}

{% block page_title %}
  Senior Civil Service - Digital DWP Careers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <header>

    {% include "includes/phase_banner_beta.html" %}

    <div class="department-logo">
      <a href="/">
        <span class="royal-crest">
          Department<br>for Work &amp; <br>Pensions
        </span>
      </a>
    </div>

    <h1 class="heading-xxlarge">
      Senior Civil Service
      <span class="heading-secondary">
        Come and lead the future of the Civil Service
      </span>
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">
        The Civil Service plays a crucial role in supporting the wellbeing, security and prosperity of the country.
      </p>

      <p>
        The Senior Civil Service is looking for people who have ambition, motivation and passion. You will be leading some of Europe’s largest projects, changing the way the public interacts with government services and transforming the way we use data and technology to build a Civil Service for the future.
      </p>

      <p>
        The Senior Civil Service provides high-level support to government ministers, assists in the development and implementation of policy and delivers safe and secure public services to our citizens.
      </p>

      <p>
        This is an opportunity to join government at an incredibly interesting time. It’s one of the most challenging and rewarding places to work in the UK today. We need a unique combination of leadership and hands-on technical expertise to lead our digital transformation.
      </p>

      <p class="lede quoted">
        We employ 3,900 professionals at this level, in 55 different government departments and agencies
      </p>

      {% include "includes/call_to_action.html" %}

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">

        {% include "includes/side_navigation.html" %}

      </aside>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GUC6lqrMQPg?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GtreNGmeexo?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FF9NlBfzIGM?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>

</main>

{% endblock %}
