{% extends "layout_unbranded.html" %}

{% block page_title %}
  Senior civil service - Digital DWP Careers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <header>

    <div class="department-logo">
      <a href="/">
        <span class="royal-crest">
          Department<br>for Work &amp; <br>Pensions
        </span>
      </a>
    </div>

    <h1 class="heading-xxlarge">
      Senior civil service
      <span class="heading-secondary">
        Come and lead the future of the Civil Service
      </span>
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">
        The Civil Service plays a crucial role in supporting the wellbeing, security and prosperity of the country.
      </p>

      <p>
        We are looking for individuals to join our Senior Civil Service, who have the ambition, motivation and passion to lead some of Europe’s largest projects, change the way the public interacts with Government services and transform the way we use data and technology to build a Civil Service for the future.
      </p>

      <p>
        The Senior Civil Service exists to provide high-level support to government ministers, assist in the development and implementation of policy and delivers safe and secure public services to our citizens.
      </p>

      <p>
        This is an opportunity to join Government at an incredibly interesting time. It’s one of the most challenging and rewarding places to work in the UK today – we require a unique combination of leadership and hands-on technical expertise to lead our digital transformation.
      </p>

      <p class="lede quoted">
        As a leader you know when you have the right team. A team with different perspectives and diverse experiences. It just feels more creative, more productive, more enjoyable.
        <span class="bold-large">
          Kevin Cunnington Director General Business Transformation
        </span>
      </p>

      <p class="lede quoted">
        To deliver this large-scale transformation we need to complement our existing expertise with digital technology skills with a focus on Javascript development/Java as an exception, REDIS, MongoDB, Mongoose & Cassandra DB, Devops (Chef, Statsd, Docker & Flyway) and BigData & Visualisation (Hadoop, R, Graph, D3 & Tableau).
      </p>

      <p class="lede quoted">
        We employ 3,900 professionals at this level, in 55 different government departments and agencies
      </p>

      <h2 class="heading-large">Find out when we're hiring</h2>

      <p>
        We're always looking for great people to join us. Our jobs change regularly, so keep checking back.
      <p>

      <p>
        <a class="button" href="https://twitter.com/digitalDWPjobs">
          Get job updates
        </a>
      </p>

      <h2 class="heading-large">Current vacancies</h2>

      {% for job in jobs %}
      <div class="job">
        <a href="/{{loop.index0}}">
          <h2 class="bold-medium">
            {{job.title}}
          </h2>
            <ul>
              <li class="font-xsmall">
                Location: <span class="bold-small">{{job.jobLocation.address.addressLocality}}</span>
              </li>
              <li class="font-xsmall">
                Salary up to: <span class="bold-small">&pound;{{job.maxSalary}}</span>
              </li>
              <li class="font-xsmall">
                Closing date: <span class="bold-small">{{ job.dateClosing }}</span>
              </li>
            </ul>
        </a>
      </div>
      {% endfor %}

      <p>
        <a href="http://digital.dwp.gov.uk/careers/search-vacancies/" class="bold-xsmall">
          View all <span class="visuallyhidden">jobs on DWP Careers</span>
        </a>
      </p>

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">

        {% include "includes/side_navigation.html" %}

      </aside>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GUC6lqrMQPg?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GtreNGmeexo?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FF9NlBfzIGM?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>

</main>

{% endblock %}
