{% extends "layout_unbranded.html" %}

{% block page_title %}
  Technology - Digital DWP Careers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <header>

    <div class="department-logo">
      <span class="royal-crest">
        Department<br>for Work &amp; <br>Pensions
      </span>
    </div>

    <h1 class="heading-xxlarge">
      Technology
      <span class="heading-secondary">
        Putting users at the heart of everything we do
      </span>
    </h1>
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">
        The scale of the digital technology challenge in DWP is one of the largest in the UK today. Our IT systems underpin the annual processing of 5m benefit claims, payment of £167.6bn in benefits and pensions, and support over 90,000 users across 850 locations.
      </p>

      <p>
        Digital technology in DWP is transforming to become a leading example of a nimble, digital enterprise, with deep experts who are motivated by the challenge of working on large-scale applications running on massive platforms.
      </p>

      <p>
        We will design based on user needs, for a future where new and current systems will co-exist. Delivery teams will be accountable for test-driven development, business analysis, testing, devops, data modelling, repositories, analytics and visualisation, working closely with a cyber-security team.
      </p>

      <p>
        We will reuse and repurpose technologies to accelerate delivery, building reusable platform utilities and enablers as well as reusing a library of services, objects, assets, rules and roles including roll-forward of architectures.
      </p>

      <p>
        This represents a major shift from a traditional outsourcing model, making this one of the most exciting times to join a major government department that delivers services that support the lives of 22m citizens.
      </p>

      <p class="lede quoted">
        Our digital technologists will build reusable Code Components and Service Libraries using UX (Angular JS, D3, Bootstrap: HTML5 and CSS4), ExpressJS, Mashery API Registry, RabbitMQ, JSON, MVC, Micro-service design patterns and RESTful interfaces.
      </p>

      <p class="lede quoted">
        To deliver this large-scale transformation we need to complement our existing expertise with digital technology skills with a focus on Javascript development/Java as an exception, REDIS, MongoDB, Mongoose & Cassandra DB, Devops (Chef, Statsd, Docker & Flyway) and BigData & Visualisation (Hadoop, R, Graph, D3 & Tableau).
      </p>

      <p class="lede quoted">
        We have 50m lines of code and support over 1,000 applications
      </p>

      <h2 class="heading-large">Find out when we're hiring</h2>

      <p>
        We're always looking for great people to join us. Our jobs change regularly, so keep checking back.
      <p>

      <p>
        <a class="button" href="https://twitter.com/digitalDWPjobs">
          Get job updates
        </a>
      </p>

      <h2 class="heading-large">Current vacancies</h2>

      {% for job in jobs %}
      <div class="job">
        <a href="/{{loop.index0}}">
          <h2 class="bold-medium">
            {{job.title}}
          </h2>
            <ul>
              <li class="font-xsmall">
                Location: <span class="bold-small">{{job.jobLocation.address.addressLocality}}</span>
              </li>
              <li class="font-xsmall">
                Salary up to: <span class="bold-small">&pound;{{job.maxSalary}}</span>
              </li>
              <li class="font-xsmall">
                Closing date: <span class="bold-small">{{ job.dateClosing }}</span>
              </li>
            </ul>
        </a>
      </div>
      {% endfor %}

      <p>
        <a href="http://digital.dwp.gov.uk/careers/search-vacancies/" class="bold-xsmall">
          View all <span class="visuallyhidden">jobs on DWP Careers</span>
        </a>
      </p>

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">

        <h2 class="heading-medium">Find out more</h2>
  			<ul class="font-xsmall list">
  				<li>
  					<a href="https://digitaldwp.blog.gov.uk">
  						Read our blog
  					</a>
  				</li>
  				<li>
  					<a href="https://twitter.com/DigitalDWP">
  						Follow @DigitalDWP
  					</a>
  				</li>
          <li>
  					<a href="https://twitter.com/DWPTechnology">
  						Follow @DWPTechnology
  					</a>
  				</li>
  			</ul>

      </aside>

    </div>
  </div>

  <hr>

  <div class="grid-row">
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GUC6lqrMQPg?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GtreNGmeexo?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="column-third">
      <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FF9NlBfzIGM?wmode=transparent&amp;fs=1" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>

</main>

{% endblock %}
